header {
  height: 3.563rem;
  margin: 0%;
  background-color: #B0EAF2;
  border-color: #000;
  Border: 0.125rem solid #000;
  padding-bottom: 3.125rem;
  display: flex;
  flex-flow:column;
 }
 
 footer {
  border-color: #000;
  border: 0.125rem solid #000;
  padding: 1.875rem;
  height: 3.563rem;
  font-size: 200%;
 }
 
 Ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
 }
 
 img {
  height: 42.688rem;
 }
 
 body {
  font-family: "Jacques Francois", serif;
  font-weight: 400;
  font-style: normal;
 }
 
 .nav-menu li a {
  display: flex;
  padding: 2% 6%;
  justify-content: right;
  align-items: center;
  display: none;
 }

 menu {
  display: flex;
  justify-content: right;
  align-items: center;
}
 .menu-toggle {
  flex: 1;
  text-align: right;
}

.menu-toggle ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
} /* spacing between words when open hamburger */

.menu-toggle ul li a {
  color: #6c96b5; 
  text-decoration: none;
  font-size: 1rem;
} /*menu link color */

.menu-toggle ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #000000;
  display: block;
  margin: auto;
  transition: 0.5s;
} /* underline of link*/

.menu-toggle ul li:hover::after {
  width: 100%;
} /* width of underline */

nav .fa {
  display: none; /* removes the menu and x symbol */
}
 
 @media (min-width:768px) {
     #wrapper {
     margin: auto;
     display: flex;
   }
 
   .menu-toggle {
     display: none;
   }
 
   .nav-menu li a {
     display: inline-flex;
     padding: auto;
   }
 
   .nav-menu menu {
     display: inline-flex;
   }
   
   .nav-menu li a {
     margin-right: 20px;
     display: inline-flex;
   }

   li {
    color: #000;
    display: inline-block;
    Padding: 2rem;
    text-decoration: none;
   }
 }

 