header {
  height: 3.563rem;
  margin: 0%;
  background-color: #B0EAF2;
  border-color: #000;
  border: 0.125rem solid #000;
  padding-bottom: 3.125rem;
  display: flex;
  flex-flow:column;
 }
 
 footer {
  border-color: #000;
  border: 0.125rem solid #000;
  padding: 1.875rem;
  height: 3.563rem;
   }
 
 ul#recipes {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 200%;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: center;
 }

 ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 200%;
 }
 
 img {
  height: 42.688rem;
 }
 
 body {
  font-family: "Jacques Francois", serif;
  font-weight:400;
  font-style: normal;
 }
 
 .nav-menu li a {
  display: flex;
  padding: 2% 6%;
  justify-content: right;
  align-items: center;
  display: none;
  font-size: 200%;
 }

 menu {
  display: flex;
  justify-content: right;
  align-items: center;
}
 .menu-toggle {
  flex: 1;
  text-align: right;
}

.menu-toggle ul li {
  list-style: none;
  display: inline-block;
  padding: 1.875rem;
  position: relative;
} /* spacing between words when open hamburger */

.menu-toggle ul li a {
  color: #6c96b5; 
  text-decoration: none;
  font-size: 1rem;
} /*menu link color */

.menu-toggle ul li::after {
  content: "";
  background-color: #000000;
  display: block;
  margin: auto;
  transition: 0.5s;
} /* underline of link*/

.grid-container {
	display: flex;
	background-color: #000 ;
	padding: auto;
	margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.grid-item {
	background-color: #B0EAF2;
	padding: 3dvh 5dvw;
	border: 2px solid black;
	text-align: center;
	vertical-align: middle;
	font-size: 6vmin;
	margin: 20px;
	box-shadow: 3px 3px 20px inset;
}

div#title {
  margin-top: -400px;
  margin-bottom: 400px;
  z-index: 50;
  color: #fff;
  font-size: 400%;
}

div#title2 {
  margin-top: -400px;
  margin-bottom: 400px;
  z-index: 50;
  color: #000;
  font-size: 500%;
}
div#heading {
  font-size: large;
  border-style: solid;
  padding: 1dvh 4dvw;
}

span {
  text-align: center;
}

div {
  text-align: center;
}

h1 {
  text-align: center;
  border: 0.125rem solid #000;
  border-color: #000;
  padding: 1.875rem;
}
 
 @media (min-width:768px) {
     #wrapper {
     margin: auto;
     display: flex;
   }
 
   .menu-toggle {
     display: none;
   }
 
   .nav-menu li a {
     display: inline-flex;
     padding: auto;
   }
 
   .nav-menu menu {
     display: inline-flex;
   }
   
   .nav-menu li a {
     margin-right: 20px;
     display: inline-flex;
   }

   li  {
    color: #000;
    display: inline-block;
    Padding: 2rem;
    text-decoration: none;
   }
 }

 